*.o
Engine
resources/dataset/*.png
dataset/train/*.jpg
blue_noise
resources/sponza
resources/sponza_candles
resources/sponza_curtains
resources/sponza_tree
resources/sponza_ivy
dataset
resources/sponza_day
resources/venice
resources/venice_int